.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* ----------------------------------------------------------------------- */
.btn-wrapper button {
  background-color: #407f04;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  box-shadow: #333 0px 1px 5px;
  width: 131px;
}
.btn-wrapper button:hover {
  background-color: red;
  transform: scale(1.1);
  transition: transform 0.3s ease; 
  color: black;
}
.img-wrapper img {
  width: 75px;
  margin-top: -16px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px -1px;
 }
 .img-wrapper img:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
 }
.cart-wrapper{
  height: 121px;
  width: 480px;
  border: 1px solid #ccc;
  margin-left: 3%;
  background-color: #f7f3f3;
  margin-top: 13px;
}
.item {
  float: left;
  display: inline-block;
  width: 120px;
  padding: 20px;
  height: 70px;
}
.add-to-cart img{
  width: 80px;
    position: absolute;
    right: 1%;
    top: 1%;
}
.cart-count{
  
  position: absolute;
  right: 27px;
  top: 7px;
  z-index: 1;
  background-color: red;
  padding: 0px;
  width: 26px;
  height: 27px;
  border-radius: 50%;
  color: #fff;
  
}
.count{
  margin-right: -820px;
}
.remove-btn{
  background-color:red !important ;
  margin-top: 5px;
}
/* ----------------------------------------------------------------------- */


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video fills its container while maintaining aspect ratio */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Adds a box shadow to the video */
}
.name{
  position: absolute;
  top: 0;
  opacity: 0.7;
}
.addtocart
{
  margin-right: -812px;
}
